@using AuthpExample3.Components.Shared
@inherits LayoutComponentBase

<FluentLayout>
    <FluentHeader>
        Auth Example 3
        <FluentSpacer />
        <LoginDisplay />&nbsp;
    </FluentHeader>
    <FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%">
        <NavMenu />
        <FluentBodyContent>
            <div class="content">
                @Body
                <FluentDialogProvider @rendermode="RenderMode.InteractiveServer" />
                <FluentToastProvider />
                <FluentTooltipProvider />
            </div>
        </FluentBodyContent>
    </FluentStack>
    <FluentFooter>
        <div class="link1">
            <a href="https://www.fluentui-blazor.net" target="_blank">Documentation and demos</a>
        </div>
        <div class="link2">
            <a href="https://learn.microsoft.com/en-us/aspnet/core/blazor" target="_blank">About Blazor</a>
        </div>
    </FluentFooter>
</FluentLayout>

@* 
FluentUI RenderMode for FluentDialogProvider
https://stackoverflow.com/questions/77736914/blazor-fluent-ui-dialogservice-fluentdialogprovider-error

 <div class="content">
    @Body
</div> 

*@

