@page "/Account/EmailConfirmation"

<br />

<div class="form-group row">
    <label for="nama" class="col-sm-2 col-form-label">

    </label>
    <div class="col-sm-6">
        <h4 class="text-danger">Email Confirmation</h4>
        <p class="text-danger">Email has been sent. Please confirm.</p>
    </div>



</div>
